{extend name="public:admin_base" /}
{block name="body"}
 <div class="layui-body">
      <div class="layui-tab layui-tab-card tab-fixed" lay-allowclose="true" lay-filter="test">
        <ul class="layui-tab-title">
          <!-- 执行tab点击栏 -->
		  <li lay-id="{:url('index/index_cz')}" class="layui-this">首页<i class="layui-icon layui-unselect layui-tab-close">ဆ</i></li>
        </ul>
        <div class="layui-tab-content tab_hei">
          <!-- 执行tab点击栏内容 -->
		  <div class="layui-tab-item">
		  	<iframe class="Mainindex" name="Mainindex" src="{:url('index/index_cz')}" width="100%" height="900px" frameborder="0"></iframe>
		  </div>
        </div>  
      </div> 
  </div>
{/block}