<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>后台管理系统</title>
  <link rel="stylesheet" href="__STATIC__/layui/css/layui.css">
  <link rel="stylesheet" href="__STATIC__/admin/css/common.css">
  <link rel="stylesheet" href="__STATIC__/layui/css/modules/layer/default/layer.css">
</head>
<script>
	var Uploadimg_model = "{:url('Uploadimg/upload_fun')}";
	var project = '__PROJECT__';
</script>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">