<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">后台管理系统</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
      <li class="layui-nav-item"><a href="{:url('index/index/index')}">返回前台</a></li>
      <li class="layui-nav-item"><a href="">控制台</a></li>
      <!-- <li class="layui-nav-item"><a href="">用户</a></li> -->
      <!-- <li class="layui-nav-item">
        <a href="javascript:;">其它系统</a>
        <dl class="layui-nav-child">
          <dd><a href="">邮件管理</a></dd>
          <dd><a href="">消息管理</a></dd>
          <dd><a href="">授权管理</a></dd>
        </dl>
      </li> -->
    </ul>
    <ul class="layui-nav layui-layout-right user-msg">
      <li class="layui-nav-item">
        <a href="javascript:;">
          {empty name="admin_info.userimage"}
            <img src="__STATIC__/admin/images/userimg.jpeg" class="layui-nav-img">
          {else /}
            <img src="{$admin_info.userimage}" class="layui-nav-img">
          {/empty}
          {$admin_info.username}
        </a>
        <dl class="layui-nav-child">
          <dd><a href="javascript:;" class="btn_starts" data-title="编辑基本资料" data-content="{:url('user/admin_details')}" data-width="600px" data-height="600px">基本资料</a></dd>
          <!-- <dd><a href="">安全设置</a></dd> -->
          <dd><a href="{:url('admin/login/index')}">退出登录</a></dd>
        </dl>

      </li>
      <li class="layui-nav-item"><a href="javascript:;" class="btn_starts" data-title="修改密码" data-content="{:url('user/admin_pass')}" data-width="500px" data-height="250px">修改密码</a></li>
    </ul>
  </div>