<!-- </iframe> -->
</div>
 <div class="layui-footer">
    <!-- 底部固定区域 -->
  </div>
</div>
</body>
</html>
<script src="__STATIC__/admin/js/jquery-2.1.1.min.js"></script>
<script src="__STATIC__/layui/layui.js"></script>
<script src="__STATIC__/layui/lay/modules/layer.js"></script>
<script src="__STATIC__/admin/js/banner_index.js"></script>
<!-- <script>
//JavaScript代码区域
layui.use('element', function(){
  var element = layui.element;
  // $(".ua").click(function(){
  // 	event.preventDefault(); 
  // 	var a_href = $(this).attr("href");
  // 	$(".uahref").attr('src',a_href);
  // })
});
</script> -->