<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>日记</title>
  <link rel="stylesheet" href="../public/static/css/layui.css">
</head>
<body>
	<div class="layui-container">  
	<ul class="layui-nav" lay-filter="" >
	  <li class="layui-nav-item layui-this"><a href="">日记</a></li>
	  <!-- <li class="layui-nav-item "><a href="">产品</a></li> -->
	  <!-- <li class="layui-nav-item"><a href="">大数据</a></li> -->
	<!--   <li class="layui-nav-item">
	    <a href="javascript:;">解决方案</a>
	    <dl class="layui-nav-child">
	      <dd><a href="">移动模块</a></dd>
	      <dd><a href="">后台模版</a></dd>
	      <dd><a href="">电商平台</a></dd>
	    </dl>
	  </li> -->
	  <li class="layui-nav-item"><a href="">社区</a></li>
	</ul>
 
  	<div class="layui-col-xs12 layui-col-sm8 layui-col-md12" style="margin-top:20px;font-size: 24px;">
      	 <ul class="layui-timeline">
		  <li class="layui-timeline-item">
		    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
		    <div class="layui-timeline-content layui-text">
		      <h3 class="layui-timeline-title">2019年3月5日记</h3>
		      <p style="font-size: 16px;">
		      	他叫弘德，我们在小学时候就认识了，我小时候的“好哥们”</br>
		        我曾经对他投入了我的全部感情，他饿了我请他吃饭，他困了我陪他睡觉，他郁闷了我还陪他抽烟，我当时所做的一切都不求他一丝回报，只因为我对他的感情。</br>
				可是转眼间，他已经考上了大学本科，还是一本的，专业不错是美术的，虽然学美术比较苦，但是家里人都说他未来可期。</br>
				但是我在初中毕业的时候选择去了中专职校，摆明了与大学校园是无缘了。所以我想他的未来应该还能跟我有点瓜葛吧，毕竟我们的感情摆着，他应该不至于成为莫言笔下那个拔屌无情的人。</br>
				可是，现实总是残酷的。今年他算来也大四了，再过一年他就学成毕业了，听说学美术的毕业后工资最低都能有七八千，这可比我每个月不停加班才拿到2千，好很多了。不愧是广州大学的一本专业，我都替他开心。</br>

				前两天，我在网上刷帖子的时候看到一个挺好看的图案，我不知道怎么的，就对这张图片着了迷。我感觉这就是命中注定的，跟他的气质，很像。</br>

				这个图片，因为发帖的论坛有限制，没办法获取到高清版本，而联系发帖的人之后犹如石沉大海没有一丝回讯。我不死心，花了三天的休息时间在网上搜寻，但仍一无所获。</br>

				这时候我就想到了他，虽然一年见面了，但是他是学美术的，帮我做一张图片应该是挺简单的吧。况且我以前为他付出了那么多。</br>

				抱着这样的想法我拿出手机翻找通讯录，简单寒暄了几句之后我就把我的想法告诉了他，还像以前那般撒了会娇。可不曾想，屏幕弹出的回复，竟然是如此绝情：“他妈的，这东西赶出来也就这样差距不大又费时间”“自己搞去”。</br>

				瞬间，我还想说什么，但是却说不出来，现在的他为什么会这样。冷静一下之后才发现，一年没有见面我跟他的未来已经不是一条平行线了。他的未来是一个设计师，我的未来只是一个农民而已。<i class="layui-icon"></i>
		      </p>
		    </div>
		  </li>
		  <li class="layui-timeline-item">
		    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
		    <div class="layui-timeline-content layui-text">
		      <h3 class="layui-timeline-title">2019年3月5日记</h3>
		      <p>
		        以上都是猴子写的，非常的劲！
		      </p>
		    </div>
		  </li>
		</ul>
    </div>
  </div>

<!-- 你的HTML代码 -->
 
<script src="../public/static/layui.js"></script>
<!-- <script>
//一般直接写在一个js文件中
layui.use(['layer', 'form'], function(){
  var layer = layui.layer
  ,form = layui.form;
  
  layer.msg('Hello World');
});
</script>  -->
</body>
</html>