{extend name="public:admin_common" /}
{block name="bodyt"}
	<div class="layui-container popup-addpage">  
	  <div class="layui-row">
	    <div class="layui-col-md5">
	      	<form class="layui-form" action="">
			  <div class="layui-form-item">
			    <label class="layui-form-label">轮播标题：</label>
			    <div class="layui-input-block">
			      <input type="text" name="title" required  lay-verify="required" placeholder="请输入轮播图标题" autocomplete="off" class="layui-input">
			    </div>
			  </div>

			  <div class="layui-form-item">
			    <label class="layui-form-label">上传图片：</label>
			    <div class="layui-input-block">
			      <button type="button" class="layui-btn" id="upload_img"><i class="layui-icon">&#xe67c;</i>上传图片</button>
			      <input type="hidden" name="image" value="" id="image_hidden">
			      <div id="image_src_banner">
			      	<img src="/booke/uploads/20190314/1d4272eb0ec4d26f01e185036edd05ba.jpg" class="image_src">
			      	<i class="layui-icon layui-icon-close"></i>  
			      </div>
			    </div>
			  </div>

			  <div class="layui-form-item">
			    <label class="layui-form-label">是否启用：</label>
			    <div class="layui-input-block">
			      <input type="checkbox" name="zzz" lay-skin="switch" lay-text="开启|关闭" value="0">
			    </div>
			  </div>
			  
			   <div class="layui-form-item">
			    <label class="layui-form-label">优先级：</label>
			    <div class="layui-input-block">
			      <input type="text" name="title" required  lay-verify="required" placeholder="请输入数字越大排越前" autocomplete="off" class="layui-input">
			    </div>
			  </div>
			
			  <div class="layui-form-item">
			    <div class="layui-input-block">
			      <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
			      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
			    </div>
			  </div>
			</form>
	    </div>
	  </div>
	</div>
{/block}