{extend name="public:admin_base" /}
{block name="body"}
    <blockquote class="layui-elem-quote">
        <div class="layui-row">
          <div class="layui-col-md4">
            <h2 class="h2_left">轮播图</h2>
          </div>
          <div class="layui-col-md4 layui-col-md-offset4">
            <button class="layui-btn btn_right" data-title="添加轮播图" data-content="{:url('banner_add')}">添加轮播图</button>
          </div>
        </div>
    </blockquote>
      <table class="layui-table">
        <thead>
          <tr>
            <th>序号</th>
            <th>轮播图片</th>
            <th>排序</th>
            <th>是否开启</th>
            <th>创建时间</th>
            <th>更新时间</th>
            <th>操作</th>
          </tr> 
        </thead>
        <tbody>
          <tr>
            <td>贤心</td>
            <td>人生就像是一场修行</td>
            <td>人生就像是一场修行</td>
            <th>是否开启</th>
            <td>2016-11-29</td>
            <td>2016-11-29</td>
            <td>
              <button class="layui-btn layui-btn-normal">编辑</button>
              <button class="layui-btn layui-btn-danger">删除</button>
            </td>
          </tr>
          <tr>
            <td>贤心</td>
            <td>人生就像是一场修行</td>
            <td>人生就像是一场修行</td>
            <th>是否开启</th>
            <td>2016-11-29</td>
            <td>2016-11-29</td>
            <td>
              <button class="layui-btn layui-btn-normal">编辑</button>
              <button class="layui-btn layui-btn-danger">删除</button>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
{/block}

