{extend name="public:admin_base" /}
{block name="body"}
	<div class="layui-body" style="padding:20px;">
    <blockquote class="layui-elem-quote">
      <h2>轮播图</h2>
    </blockquote>
      <table class="layui-table">
        <thead>
          <tr>
            <th>序号</th>
            <th>轮播图片</th>
            <th>排序</th>
            <th>创建时间</th>
            <th>更新时间</th>
            <th>操作</th>
          </tr> 
        </thead>
        <tbody>
          <tr>
            <td>贤心</td>
            <td>人生就像是一场修行</td>
            <td>人生就像是一场修行</td>
            <td>2016-11-29</td>
            <td>2016-11-29</td>
            <td>
              <button class="layui-btn layui-btn-normal">编辑</button>
              <button class="layui-btn layui-btn-danger">删除</button>
            </td>
          </tr>
          <tr>
            <td>贤心</td>
            <td>人生就像是一场修行</td>
            <td>人生就像是一场修行</td>
            <td>2016-11-29</td>
            <td>2016-11-29</td>
            <td>
              <button class="layui-btn layui-btn-normal">编辑</button>
              <button class="layui-btn layui-btn-danger">删除</button>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
{/block}
