<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layui</title>
  {include file="public/admin_common_css"}
</head>
<!-- <script>
  var delect_model = "{:url('banner/banner_delect')}";
</script> -->
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <blockquote class="layui-elem-quote">
        <div class="layui-row">
          <div class="layui-col-md4">
            <h2 class="h2_left">博文列表</h2>
          </div>
          <div class="layui-col-md4 layui-col-md-offset4">
            <!-- <button class="layui-btn btn_right btn_starts" data-title="添加博文" data-content="{:url('bowe/bowe_add')}" data-width="700px" data-height="600px">添加博文</button> -->
            <a class="layui-btn btn_right " href="{:url('bowe/bowe_add')}">添加博文</a>
          </div>
        </div>
    </blockquote>
      <table class="layui-table">
        <thead>
          <tr>
            <th>序号</th>
            <th>所属分类</th>
            <th>发布人</th>
            <th>博文标题</th>
            <th>博文标题图片</th>
            <th>博文内容</th>
            <th>点赞次数</th>
            <th>点击次数</th>
            <th>创建时间</th>
            <th>操作</th>
          </tr> 
        </thead>
        <tbody>
         
        </tbody>
      </table>
      
  </div>
</body>
</html>
{include file="public/admin_common_js"}