<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layui</title>
  {include file="public/admin_common_css"}
</head>
<script>
	var Uploadimg_model = "{:url('Uploadimg/upload_fun')}";
	// var banner_insert_model ="{:url('banner/banner_insert')}";
	var project = '__PROJECT__';
	// var ueditorUrl = "{:url('Ueditor/index')}";
</script>
<body>
<div class="layui-layout layui-layout-admin">
	<div class="layui-container popup-addpage">  
	  <div class="layui-row">
	    <div class="layui-col-md12">
	      	<form class="layui-form" action="{:url('user/admin_details_insert')}" method="post">
			  <div class="layui-form-item">
			    <label class="layui-form-label">管理员号：</label>
			    <div class="layui-input-block">
			      <input type="text" required lay-verify="required" placeholder="管理员账号" autocomplete="on" class="layui-input" value="{$semsg.username}" disabled>
			    </div>
			  </div>

			  <div class="layui-form-item">
			    <label class="layui-form-label">博客昵称：</label>
			    <div class="layui-input-block">
			      <input type="text" name="nickname" required lay-verify="required" placeholder="请输入昵称" autocomplete="on" class="layui-input" value="{$semsg.nickname}">
			    </div>
			  </div>

			  <div class="layui-form-item">
			    <label class="layui-form-label">头像：</label>
			    <div class="layui-input-block">
			      <button type="button" class="layui-btn" id="upload_img"><i class="layui-icon">&#xe67c;</i>上传图片</button>
			      {empty name="semsg.image"}
		            <input type="hidden" name="image" value="" id="image_hidden" required lay-verify="image_hidden">
				      <div id="image_src_banner" style="display:none;" class="img_small">
				      	<img src="" class="image_src" >
				      	<i class="layui-icon layui-icon-close image_btn"></i>  
				      </div>
		          {else /}
		            <input type="hidden" name="image" value="{$semsg.image}" id="image_hidden" required lay-verify="image_hidden">
				      <div id="image_src_banner" style="display:block;" class="img_small">
				      	<img src="__PROJECT__{$semsg.image}" class="image_src" >
				      	<i class="layui-icon layui-icon-close image_btn"></i>  
				      </div>
		          {/empty}
			    </div>
			  </div>
				 
			  <div class="layui-form-item">
			    <label class="layui-form-label">手机号码：</label>
			    <div class="layui-input-block">
			      <input type="text" name="phone" required lay-verify="required" placeholder="请输入手机号码(找回密码用)" autocomplete="on" class="layui-input" value="{$semsg.phone}">
			    </div>
			  </div>

			  <div class="layui-form-item">
			    <div class="layui-input-block">
			      <!-- <input type="hidden" name="admin_id" value="{$semsg.admin_id}"> -->
			      <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
			    </div>
			  </div>
			</form>
	    </div>
	  </div>
	</div>
</div>
</body>
</html>
{include file="public/admin_common_js"}
<script src="__STATIC__/admin/js/upload_img.js"></script>
<script> 	
	// 表单模型
	layui.use('formDemo', function(){
	    var form = layui.form;
	    form.verify({
	        // 图片验证
	        image_hidden: function(value){ //value：表单的值、item：表单的DOM对象
	            if(value == ''){
	              return '请上传图片';
	            }
	        },
	    });
	});
</script>