<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layui</title>
  {include file="public/admin_common_css"}
</head>
<script>
  var delect_model = "{:url('Classification/class_delect')}";
</script>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <blockquote class="layui-elem-quote">
        <div class="layui-row">
          <div class="layui-col-md4">
            <h2 class="h2_left">栏目分类</h2>
          </div>
          <div class="layui-col-md4 layui-col-md-offset4">
            <button class="layui-btn btn_right btn_starts" data-title="添加分类" data-content="{:url('classification/class_add')}" data-width="700px" data-height="600px">添加分类</button>
          </div>
        </div>
    </blockquote>
      <table class="layui-table">
        <thead>
          <tr>
            <th>序号</th>
            <th>分类Id</th>
            <th>分类名称</th>
            <th>分类介绍</th>
            <th>是否开启</th>
            <th>排序</th>
            <th>创建时间</th>
            <th>操作</th>
          </tr> 
        </thead>
        <tbody>
           {volist name="list" id="v" empty="$empty"}
            <tr>
              <td>{$v.id}</td>
              <td>{$v.category_id}</td>
              <td>{$v.category_name}</td>
              <td>{$v.category_describe}</td>
              <td>{$v.status}</td>
              <td>{$v.sort}</td>
              <td>{$v.create_time}</td>
              <td>
                <button class="layui-btn layui-btn-normal btn_starts" data-title="编辑" data-content="{:url('classification/CLASS_edit')}?id={$v.id}" data-width="700px" data-height="600px">编辑</button>
                <a class="layui-btn layui-btn-danger btn_delete" data-id="{$v.id}">删除</a>
              </td>
            </tr>
          {/volist}
        </tbody>
      </table>
      <div class="text-center" style="float: right;">{$list|raw}</div>
  </div>
</body>
</html>
{include file="public/admin_common_js"}